@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav__link {
    @apply relative text-base font-medium w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-blue-800 text-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-right;
  }

  .text-bg {
    background-image: linear-gradient(
      to right,
      rgb(30 64 175) 0%,
      #ffffff 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: var(--light-blue);
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 4px;
  }
}

/* Global CSS */

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --blue: rgb(30 64 175);
  --dark-blue: #060922;
  --light-blue: rgb(23 37 84);
  --dark-black: #121426;
}
